<header>
    <img src="/images/logo.png" alt="logo">
    <nav>
        <ul>
            <li> <a href="/"> Accueil</a> </li>
            <li> <a href="/exoplanets"> Exoplanètes</a> </li>
            <li> <a href="/exoplanets/exolunes"> Exolunes</a> </li>
            <li> <a href="/exoplanets/exolunes"> Exolunes</a> </li>
            <!-- test -->
            <li> <a href="/exoplanets/exolunes"> Exolunes</a> </li>
            <li> <a href="/forum"> Forum de discussion</a> </li>
        </ul>
    </nav>
</header>
